#Folder with Customer Data inside the Scripts
/TooMuchPII
#Folder with scripts by co-workers or from the web
/NotAuthoredByMe
#Potentially starting a new Github for the contents of DVpythoncentral
/DVpythoncentral
#Output files, variables, etc.
*.txt
*.html
*.xml
*.csv
*.cfg
*.log
*.yaml
